/*
Theme Name: OA Theme
Author: Or Alkin
Description: Test Theme
*/

@font-face {
    font-family: 'aparajitaregular';
    src: url('assets/fonts/aparaj-webfont.eot');
    src: url('assets/fonts/aparaj-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/aparaj-webfont.woff2') format('woff2'),
    url('assets/fonts/aparaj-webfont.woff') format('woff'),
    url('assets/fonts/aparaj-webfont.ttf') format('truetype'),
    url('assets/fonts/aparaj-webfont.svg#aparajitaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.clear {
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/*******************************************/
/*main*/
/*******************************************/
.b-page_header_wrap {
    margin-top: 10px;

}
.b-page_header_wrap_dark{
    background-color: rgba(0, 0, 0, 0.8);
    height: 90px;
}
.b-page_header {

    padding: 15px 3px 0;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.b-page_header .b-series__title {
    font: 300 40px 'Open Sans', sans-serif;
    color: #333;
    margin-bottom: 8px;
}
.b-page_header .b-series__title_light {
    font: 300 40px 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 10px;
}
._main_page_wrap {
    font: 300 40px 'Open Sans', sans-serif;
    width: 100%;
    max-width: 1220px;
    position: relative;
    margin: 0 auto;
    padding: 12px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
select.black_select{
    width: 253px;
    height: 29px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font: 300 17px 'Open Sans',sans-serif;
    color: #d6d0c8;
    padding: 0 10px;
    position: relative;
    background: #302f2f url("assets/img/select-arrow.png") no-repeat 5% center;
    border: none;
    margin-left: 13px;
}
input[type="submit"].gold {
    font-family:'Open Sans', sans-serif ;
    clear: both;
    display: block;
    width: 430px;
    margin: 23px auto;
    height: 54px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    background-color: #968859;
}
/*******************************************/
/*were to buy page*/
/*******************************************/
.b-were_to_filters{
    display: block;
    margin: 17px auto;
    width: 608px;
}
.b-were_to_filters .select_box{
    display: inline-block;
}
.b-were_to_filters .select_box label{

    color: #fff;
    font-size: 20px;
    margin-bottom: 6px;
    display: block;

}
.b-were_to_filters .select_box select{
    clear: both;
    float: right;
    width: 282px;
    height: 33px;
}
.b-were_to_result{
    background: url(images/wareto_bg.png) no-repeat center  ;
    min-height: 640px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 62px 126px;
    position: relative;
}
.b-were_to_box{
    width: 264px;
    height: 265px;
    display: inline-block;
    background: url(images/wereto_box_bg.png) no-repeat;
    /* position: relative; */
    box-sizing: border-box;
    padding-top: 127px;
    /* position: relative; */
}
.b-were_to_box_content{
    background: #fff;
    height: 138px;
    box-sizing: border-box;
    padding: 30px 24px;
    position: relative;
}
.b-were_to_box_content p{
    font-size: 18px;

    line-height: 27px;
    color: #000;
}
.b-were_to_box .box_title{

}
.b-were_to_box .box_phone{
    font-size: 16px;

}
.b-were_to_box .box_address{
    font-size: 16px;

}
.box_map_bu{
    background: url(images/wereto_map_btn.png) no-repeat;
    width: 59px;
    height: 59px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -19px;
    left: 12px;
    cursor: pointer;
}
.b-were_to_box.__open .b-were_to_box_map_wrap{
    /*height: 260px;*/
}
.b-were_to_box_map_wrap{
    width: 100%;
    margin-top: 62px;
    height: 260px;
    overflow: hidden;
    display: block;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    right: 0;
}
.b-were_to_box_content:after {
    bottom: -60px;
    left: 21%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    margin-left: -30px;
    opacity: 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.b-were_to_box_map_arr {
    bottom: 100%;
    left: 21%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    margin-left: -30px;
    opacity: 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    top: 351px;
    left: 0;
}
.b-were_to_box_map_arr._dis{
    opacity: 1;
}
.b-were_to_box.__open .b-were_to_box_content:after {
    /*opacity: 1;*/
}
.b-were_to_box.__open .b-were_to_box_map_wrap{
    opacity: 1;
}
.b-were_to_box_map_content{
    width: 100%;

    position: absolute;
    left: 0;
}
.b-were_to_box_map_content iframe{
    width: 100%;
}
/*******************************************/
/*press page*/
/*******************************************/
.b-press_banner{
    background: #000;
    width: 100%;
    height: 160px;
    display: block;
    position: relative;
    margin-top: 29px;
}
.b-press_banner_wrap{
    width: 1000px;
    margin: auto;

    display: block;
    padding-top: 32px;
    position: relative;
}
.b-press_banner_slider{
    /* float: left; */
    width: 100%;
    margin: auto;
}
.b-press_banner_slide.cycle-slide-active{
    color: #b2a771;
}
.b-press_banner_slide{
    float: left;
    width: 50px;
    /* margin-left: 30px; */
    color: #484645;
}
.b-press_banner_slide .big_line{

}
.b-press_banner_slide .small_line{
    margin-bottom: 19px;
    margin-right: 32px;
}
.b-press_banner_slide.cycle-slide-active .big_line{
    fill: #b2a771;
}
.b-press_banner_slide p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
   
}
.b-press_banner_wrap .favorites_bar_content_tab_controller{
    top: 73px;

}
.b-press_banner_wrap .favorites_bar_content_tab_controller .next_arr path,
.b-press_banner_wrap .favorites_bar_content_tab_controller .prev_arr path{
    fill: #ffffff;
}
.b-press_banner_wrap .favorites_bar_content_tab_controller .next_arr:hover path,
.b-press_banner_wrap .favorites_bar_content_tab_controller .prev_arr:hover path{
    fill: #c0b77c;
}
/*******************************************/
/*collection page*/
/*******************************************/
.collection-page {
    float: left;
    width: 100%;
}
.collection-page .collection_wrap {
    width: 100%;
    max-width: 1220px;
    position: relative;
    margin: 0 auto;
    padding: 12px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eng .collection-page .collection_wrap .collection_row {
    float: left;
}
.heb .collection-page .collection_wrap .collection_row {
    float: right;
}
.collection-page .collection_wrap .collection_row:nth-child(odd) {
    margin-top: 80px;
}
.collection-page .collection_wrap .collection_row:nth-child(3), .collection-page .collection_wrap .collection_row:nth-child(5) {
    margin-top: 120px;
}
.collection-page .collection_wrap .collection_row .collection_box {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 100px;
}
.collection-page .collection_wrap .collection_row .collection_box_title {
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 3px 8px;
    box-sizing: border-box;
    font: 300 29px 'Open Sans', sans-serif;
}
.collection-page .collection_wrap .collection_row  .collection_box:hover > .collection_box_title {
    color: #c0b569;
}
/*******************************************/
/*series page*/
/*******************************************/
.series-page {
    font-family: 'Open Sans', sans-serif;
}
.b-series_header {
    padding: 20px 20px 7px;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.b-series_header .b-series__title {
    font: 300 37px 'Open Sans', sans-serif;
    color: #333;
    margin-bottom: 17px;
}
.series_banner {
    height: 444px;
    background: url(images/seriesBg.jpg) no-repeat;
    background-size: cover;
}
.series_banner_content_wrap {
    padding: 35px 20px;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.series_banner_content {
    height: 376px;
    width: 570px;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 38px 29px 20px;
}
.series_banner_content h3 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}
.series_banner_content h3 a {
    font-weight: bold;
    text-transform: uppercase;
    color: #a19c81;
}
.series_banner_content p {
    font-size: 18px;
}
.series_banner_content a.pdf_icon {
    background-image: url('images/pdf_icon.png');
    width: 50px;
    height: 60px;
    display: block;
    float: right;
    margin-top: 35px;
}
.series_banner_content a.pdf_icon:hover {

    background-image: url('images/pdf_icon_h.png');

}
.series-page .b-product__main__line {
    margin-top: 15px;

}
.series-page .b-product__main__line .b-pattern {

    margin: 34px 17px 19px 17px;

}
/*******************************************/
/*museum page*/
/*******************************************/
.b-museum_header_wrap {
    height: 707px;
    background-repeat: no-repeat;
    background-size: cover;
}
.b-museum_header {
    padding: 20px 20px 7px;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.b-museum_header h3 {
    font-family: 'aparajitaregular', serif;
    font-size: 172px;
    line-height: 0.596;
    text-transform: uppercase;
    text-align: left;
    float: left;
    display: block;
    border-top: 5px solid #d7d09a;
    padding-top: 35px;
    width: 700px;

}
.b-museum_header h3 .first {
    color: #f2f2f2;
}
.b-museum_header h3 .sec {
    color: #d7d09a;
}
.pictures .item{
    float: right;
    margin: 0;
    height: 250px;
    overflow: hidden;

}
/*******************************************/
/*blog loby page*/
/*******************************************/
.b_blog-page {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.b_blog_blogs_content {
    float: right;
    width: 72%;
}
.b_blog_box_main {
    position: relative;
    float: right;
    margin-bottom: 40px;
}
.b_blog_box_main .b_blog_box_main_share {
    float: left;
    position: absolute;
    bottom: 0;

}
.heb .b_blog_box_main .b_blog_box_main_share{
    left: 30px;
}
.b_blog_box_main .b_blog_box_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    box-sizing: border-box;
    padding: 5px 10px;

}
.b_blog_box_main .b_blog_box_content h3 a {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
.b_blog_box_main .b_blog_box_content h3 a:hover{
    color: #968859;
}
.b_blog_box {
    float: right;
    clear: both;
    margin-bottom: 55px;
}
.b_blog_box img {
    float: right;
}
.b_blog_box h3 a {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 7px;
    text-decoration: none;
}
.b_blog_box h3 a:hover {
    color: #968859;
}
.b_blog_box .b_blog_box_data, .b_blog_box_main .b_blog_box_data {
    float: right;
    color: #968859;
    font-size: 14px;
    clear: both;
}
.heb .b_blog_box .b_blog_box_data, .heb .b_blog_box_main .b_blog_box_data{
    margin-right: 3px;
    border-left: 1px solid #968859;
    padding-left: 21px;
    margin-left: 25px;
    margin-bottom: 17px;

}
.b_blog_box a, .b_blog_box_main a {
    float: right;
    display: block;
    color: #968859;
}
.b_blog_box a .share_icon, .b_blog_box_main a .share_icon {
    margin-left: 10px;
    float: right;
    width: 20px;
    height: 20px;
    background: url(images/share_icon.png) no-repeat;
}
.b_blog_box a .b_blog_box_share {

}
.b_blog_box p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}
.b_blog_box_content {
    float: right;
    width: 55%;
    margin-right: 19px;
}
.b_blog_side {
    float: left;
    width: 26%;
}
.b_blog_side .b_blog_side_contact_form {
    border: 3px solid rgb(218, 219, 218);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 25px;
}
.b_blog_side .b_blog_side_contact_form h3 {
    width: 80%;
    text-align: center;
    font-size: 22px;
    margin: auto;
    line-height: 27px;

}
.b_blog_side .b_blog_side_contact_form h4 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.b_blog_side .b_blog_side_contact_form input[type = text], .b_blog_side .b_blog_side_contact_form input[type = email] {
    display: block;
    margin: 0 auto 22px;
    box-sizing: border-box;
    height: 33px;
    width: 250px;
    border: none;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 19px;
}
.b_blog_side .b_blog_side_contact_form input::-webkit-input-placeholder {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.b_blog_side .b_blog_side_contact_form input[type = checkbox] {
    border-color: #fff;
}
.b_blog_side .b_blog_side_contact_form label {
    font-size: 14px;
}
.b_blog_side .b_blog_side_contact_form input[type = submit] {
    font-family: 'Open Sans', sans-serif;
    height: 53px;
    width: 252px;
    color: #fff;
    margin: 10px auto;
    background: #968859;
    border: 1px solid #7f734c;
    border-radius: 0;
    display: block;
    font-size: 23px;
    font-weight: 300;
}
.b_blog_side .b_blog_side_cat_list {
    border: 3px solid rgb(218, 219, 218);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 25px;
}
.b_blog_side .b_blog_side_cat_list h4 {
    font-size: 29px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    line-height: 1;
    color: #333333;
}
.b_blog_side .b_blog_side_cat_list .side_brack {
    width: 100%;
    height: 50px;
    background: url(images/side_brack.png) no-repeat center center;
}
.b_blog_side .b_blog_side_cat_list ul {

}
.b_blog_side .b_blog_side_cat_list ul li {
    text-align: center;
    margin-bottom: 7px;
}
.b_blog_side .b_blog_side_cat_list ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 23px;
}
.b_blog_side .b_blog_side_cat_list ul li a:hover {
    color: #968859;
}
.b_blog_side .b_blog_side_most_read {
    border: 3px solid rgb(218, 219, 218);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.b_blog_side .b_blog_side_most_read h4 {
    font-size: 29px;
    text-align: center;
    width: 100%;
    line-height: 36px;
    color: #333333;
    margin-bottom: 25px;
}
.b_blog_side .b_blog_side_most_read ul {
    width: 85%;
    margin: auto;
}
.b_blog_side .b_blog_side_most_read ul li {
    text-align: right;
    margin-bottom: 20px;
}
.b_blog_side .b_blog_side_most_read ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
}
.b_blog_side .b_blog_side_most_read ul li a i {
    color: #968859;
    margin-right: 5px;
}
.b_blog_side .b_blog_side_most_read ul li a:hover {
    color: #968859;
}
/*******************************************/
/* single blog page*/
/*******************************************/
.b_singel_blog-page {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 1220px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.b_singel_blog-page .b_blog_box_main {
    border-bottom: 2px solid #2e2e2d;
}
.b_singel_blog-page .b_blog_box_content {
    position: relative;
    background: none;
    height: 50px;
    margin: 0;
}
.b_singel_blog-page .b_blog_box_main_share {
     position: relative;
     margin-top: 10px;
 }
.heb .b_singel_blog-page .b_blog_box_main_share {
    float: left;
    left: 0;
}
.b_singel_blog-page .b_blog_box_main_image {
    overflow: hidden;
    height: 335px;
}
.b_blog_main_content {
    clear: both;
    width: 98%;
    margin-bottom: 20px;
}
.b_blog_main_content p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.b_blog_main_content h4 {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin: 12px 0;
}
.b_blog_side_more_post {
    border: 3px solid rgb(218, 219, 218);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
    margin-bottom: 25px;
    float: left;
}
.b_blog_side_more_post h4 {
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    line-height: 1;
    color: #333333;
    margin-bottom: 22px;
}
.more_blogs_box_side {
    clear: both;
    display: block;
    float: right;
    width: 99%;
    margin-right: 10px;
    margin-bottom: 26px;
}
.more_blogs_box_side img {
    float: right;
}
.more_blogs_box_side .more_blogs_box_side_content {
    float: right;
    width: 160px;
    margin-right: 15px;
}
.more_blogs_box_side .more_blogs_box_side_content h5 {
    font-size: 18px;
    line-height: 1.2;
}
.b_blog_side_more_post h5 a {
    line-height: 1;
    color: #333333;
    text-decoration: none;
}
.b_blog_side_more_post h5 a:hover {
    color: #bbb283;
}
.more_blogs_box_side_share .b_blog_box_data {

    color: #1e1b16;
}
.heb .more_blogs_box_side_share .b_blog_box_data {
    padding-left: 10px;
    border-left: 1px solid #bbb283;
    margin-left: 10px;
    float: right;
}
.more_blogs_box_side_share {
    float: right;
    margin-top: 10px;
}
.more_blogs_box_side_share a {
    color: #1e1b16;
}
.more_blogs_box_side_share a .share_icon {
    background-image: url(images/share_icon_black.png);
    width: 17px;
    height: 18px;
    display: inline-block;
    float: right;
    margin-left: 5px;
}
/*******************************************/
/*contact Us page*/
/*******************************************/
.b-contact_us_banner{
    width: 100%;
    background: url(images/conbg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 445px;
    margin-top: 13px;
}
.b-contact_us_banner_content{
    background: rgba(255,255,255,0.9);
    width: 408px;
    height: 520px;
    margin-top: 20px;
    border: 3px solid rgb(218, 219, 218);
    box-shadow: 0 0 8px 0 rgba(6, 6, 6, 0.75);
    box-sizing: border-box;
    padding: 24px 24px;
}
.b-contant-page__map{
    position: relative;
    margin-top: 133px;
    height: 630px;
}
.b-contact_us_banner_content h3{
    font-weight: 300;
    font-size: 31px;
    float: right;
}
.b-contact_us_banner_content h3:nth-child(2){
    float: left;

}
.b-contact_us_banner_content h4{
    clear: both;

    font-size: 22px;
    font-weight: 300;
    margin-top: 21px;
    float: left;
    line-height: 26px;
    margin-bottom: 11px;
}
.b-contact_us_banner_content input ,
.b-contact_us_banner_content textarea{
    width: 100%;
    font-size: 18px;
    color: #fff;
    background: #000;
    border: none;
    font-family:'Open Sans', sans-serif ;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0 10px;
}
.b-contact_us_banner_content input[type = "text"]{
    height: 30px;
}
.b-contact_us_banner_content input[type = "email"]{
    height: 30px;
}
.b-contact_us_banner_content textarea{
    height: 75px;
    margin-top: 20px;
}
.b-contact_us_banner_content input[type = "submit"]{
    width: 100%;
    margin-top: 13px;
}
.b-contant-page__map .b-product-page__map__sqr{
    top: -82px;
    color: #fff;
}
/*******************************************/
/* catalogs page*/
/*******************************************/
.b_catalogs_all_catalogs {
    margin-top: 79px;
}
.b_catalogs_catalog_box_wrap {
    float: right;
    margin-left: 73px;
    margin-bottom: 35px;
    width: 240px;
}
.b_catalogs_catalog_box_wrap:nth-child(4n) {
    margin-left: 0;
}
.b_catalogs_catalog_box {
    background: url(images/catalog_box.jpg) no-repeat;
    height: 308px;
    width: 240px;

    cursor: pointer;
    position: relative;
}
.b_catalogs_catalog_box_wrap a:hover > .b_catalogs_catalog_box .b_catalogs_catalog_box_hover {
    opacity: 1;
}
.b_catalogs_catalog_box_hover {
    background-color: hsla(0, 0%, 0%, 0.70);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.b_catalogs_catalog_box_logo {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
}
.b_catalogs_catalog_box_logo svg.b-header__main__logo__i {
    margin: 64% 14% 0;
}
.b_catalogs_catalog_box_wrap a:hover > .b_catalogs_catalog_box > .b_catalogs_catalog_box_hover .b_catalogs_catalog_box_hover_arrow {
    bottom: 70px;

}
.b_catalogs_catalog_box_hover_arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.b_catalogs_catalog_box_wrap a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
}
.b_catalogs_catalog_box_wrap a:hover {
    text-decoration: underline;

}
.b_catalogs_catalog_box_wrap a h3 {
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    margin-top: 3px;
    height: 60px;
    width: 100%;
}


/*******************************************/
/* about us page*/
/*******************************************/
.b-about_us_banner{
background: url(images/aboutBG.jpg) no-repeat;
width: 100%;
background-size: cover;
}
.b-about_us_banner .b-about_us_banner_content{
    width: 100%;

    height: 411px;
    background: rgba(255,255,255,0.8);
    margin-top: 70px;
    box-sizing: border-box;
    padding: 20px 23px;
}
.b-about_us_banner .b-about_us_banner_content p{
    line-height: 23px;
}
.b-about_us_banner_text{
    width: 43%;
    font-size: 18px;
    margin-top: 21px;
    float: left;
}
.b-about_us_banner_video{
    width: 54%;
    display: inline-block;
    margin-left: 30px;
}
.b-about_us_banner_video iframe{
    width: 100%;
}
.b-contant-page_main_content{
    background: url(images/aboutBGn.jpg) no-repeat;
    background-size: cover;
    font-family: 'Open Sans',sans-serif;
    clear: both;
}
.b-contant-page_page_menu{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 110px;
}
.b-contant-page_page_menu a{
    height: 211px;
    width: 278px;
    border: 6px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-contant-page_page_menu .b-header__main__menu__box__i__pod-menu__box__i__name{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #1c1915;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font: 15px 'Open Sans',sans-serif;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.b-contant-page_page_menu .b-header__main__menu__box__i__pod-menu__box__i__name span{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

}
.b-contant-page_page_menu a:hover{
    border-color: #f4d5a9;
}
.b-contant-page_page_menu a:hover .b-header__main__menu__box__i__pod-menu__box__i__name{
    background: #c0b569;
}
.b-contant-page_page_menu a:hover .b-header__main__menu__box__i__pod-menu__box__i__name span{
    color: #ffffff;
}
.b-contant-page_main_content h3{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}
.b-contant-page_partners{
    margin-top: 54px;
    
    margin-bottom: 27px;
}
._main_page_wrap._partners_content{
    height: 180px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.b-contant-page_partners_content{
    width: 100%;
    background: #ffffff;
    position: relative;
    margin-top: 36px;
    height: 181px;
}
.b-contant-page_partners_content:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 24px;
    margin-left: -30px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.b-contant-page_partners_content .b-contant-page_partners_box{
    display: inline-block;
    vertical-align: middle;
    height: 150px;
    line-height: 150px;
}
.b-contant-page_partners_content .b-contant-page_partners_box img{
    display: inline-block;
    vertical-align: middle;
}
.b-contant-page_team{
    margin-top: 98px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}
.b-contant-page_team .b-contant-page_team_box{
    display: inline-block;
    cursor: pointer;
    height: 347px;
    margin-bottom: 20px;
}
.team_box_images{
    border-radius: 50%;
    width: 255px;
    height: 255px;
    overflow: hidden;
    position: relative;
}
.team_box_images .team_box_cartoon{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    border-radius: 50%;
    overflow: hidden;
}
.team_box_images .team_box_bgimage{
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-position:top center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.b-contant-page_team .b-contant-page_team_box:hover .team_box_cartoon{
    opacity: 0;
}
.b-contant-page_team .b-contant-page_team_box:hover .team_box_bgimage{
    opacity: 1;
}
.b-contant-page_team_box .team_box_name{
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 14px;
}
.b-contant-page_team_box .team_box_title{
    text-align: center;
    color: #afa55f;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 2px;
}
/*******************************************/
/*exhibitions*/
/*******************************************/
.main_page_wrap_bg_dark{
    background: rgba(0,0,0,0.7);
    float: right;
    width: 100%;
}
.b_exhibitions-page._main_page_wrap{
    padding: 25px 20px;
}
.b_exhibitions_banner{
    background: rgba(0,0,0,0.4);
    height: 590px;
    font-family:'Open Sans', sans-serif ;
    clear: both;
}
.b_exhibitions_banner_wrap{
    width: 100%;
    max-width: 1220px;
    position: relative;
    margin: 0 auto;
    padding: 12px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b_exhibitions_banner_wrap ._banner_form{
    width: 563px;
    height: 480px;
    float: right;

    margin-top: 43px;
}
.b_exhibitions_banner_form_a{
    margin-left: 54px;
    background: #000;
}
.b_exhibitions_banner_form_b{
    margin-left: 0;
    background: rgba(0,0,0,0.4);
}
.b_exhibitions_banner_wrap ._banner_form .b_exhibitions_banner_form_head{
    height: 145px;
}
.b_exhibitions_banner_form_a .b_exhibitions_banner_form_head{
    background: #897d52;
}
.b_exhibitions_banner_form_b .b_exhibitions_banner_form_head{
    background: #000;
}

.b_exhibitions_banner_wrap ._banner_form .b_exhibitions_banner_form_head h3{
    text-align: center;
    margin-top: 13px;
    float: left;
    width: 100%;
    font-size: 48px;
    color: #ffffff;
}
.b_exhibitions_banner_wrap ._banner_form .b_exhibitions_banner_form_head h4{
    text-align: center;
    margin-top: 0;
    float: left;
    width: 100%;
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;

}
.b_exhibitions_banner_wrap ._banner_form .b_exhibitions_banner_form_content{
    padding: 15px 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b_exhibitions_banner_form_a .b_exhibitions_banner_form_content p{
    color: #897d52;
}
.b_exhibitions_banner_form_b .b_exhibitions_banner_form_content p{
    color: #ffffff;
}
.b_exhibitions_banner_wrap ._banner_form .b_exhibitions_banner_form_content p{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 15px;
}
.b_exhibitions_banner_wrap ._banner_form input[type = text],
.b_exhibitions_banner_wrap ._banner_form input[type = email]{
    box-sizing: border-box;
    width: 430px;
    display: block;
    border: none;
    height: 30px;
    margin: auto auto 40px;
    background-color: #fff;
    line-height: 20px;
    padding: 0 10px;

}
.b_exhibitions_banner_wrap ._banner_form input::-webkit-input-placeholder{
    font-family:'Open Sans', sans-serif ;
    font-weight: 300;
    font-size: 20px;
    color: #000;
}
.b_exhibitions_banner_wrap ._banner_form label{
    color: #ffffff;
    margin-right: 13px;
    font-size: 14px;
    font-weight: 300;
}
.b_exhibitions_banner_wrap ._banner_form input[type ="checkbox"]{
    margin-right: 23px;
}
.b_exhibitions-page h3 {
    color: #ffffff;
    font-weight: 300;
}
.b_exhibitions_boxes {
    float: right;
    width: 100%;
    margin-top: 30px;
}
.b_exhibitions_box {
    float: right;
    width: 260px;
    background: #161514;
    margin-left: 42px;
    margin-bottom: 35px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.b_exhibitions_box:nth-child(4n){
    margin-left: 0;
}
.b_exhibitions_box:hover{
    background: #968859;
}
.b_exhibitions_box a{
    color: #ffffff;
    text-decoration: none;
    display: block;

}

.b_exhibitions_box .b_exhibitions_box_title {

    height: 57px;
    text-align: center;
    font-size: 19px;
    line-height: 50px;
}
.b_exhibitions_box_image {
    float: left;
    width: 100%;
}
.b_exhibitions_box_image img{
    float: left;
    display: block;
}
.b_exhibitions_box .b_exhibitions_box_content {
    font-size: 18px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 14px 10px 0;
    line-height: 24px;
}
/*******************************************/
/*exhibitions item*/
/*******************************************/
.b_exhibitions_item_image {
    margin: 50px 0;
    float: left;
    width: 100%;
}
.b_exhibitions_banner.__item{
    background: none;
}
.b_exhibitions_banner.__item .b_exhibitions_banner_form_b{
    background: rgba(0,0,0,0.8);
}

.main_page_wrap_bg_dark.__b_exhibitions{
    padding-bottom: 44px;
}
/*******************************************/
/*favorites bar*/
/*******************************************/
.favorites_bar{
    width: 100%;
    height: 332px;
    position: fixed;
    bottom: -296px;

    z-index: 999;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.favorites_bar.__open{
    bottom: 0;
}
.favorites_bar_head{
    float: right;
    height: 37px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.favorites_bar_head_btn.__fav .favorites_bar_head_btn_icon{
    width: 21px;
    margin-right: 13px;
    margin-top: 4px;
}
.favorites_bar_head_btn{
    float: right;
    height: 45px;
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #e7e6df;
    box-sizing: border-box;
    padding-top: 7px;
    cursor: pointer;

}
.favorites_bar_head_btn.__currect{
    color: #525252;
}
.favorites_bar_head_btn.__fav{
    background: url("images/tab1_w.png") no-repeat;

    width: 189px;

    z-index: 20;
}

.favorites_bar_head_btn.__last_view{
    background: url("images/tab2.png") no-repeat;
    width: 350px;

    z-index: 10;

}
.heb .favorites_bar_head_btn.__fav{
    right: 0;
}
.heb .favorites_bar_head_btn.__last_view{
    right: 110px;
    padding-right: 80px;
}
.favorites_bar_head_btn.__fav.__currect{
    background: url("images/tab1.png") no-repeat;
}
.favorites_bar_head_btn.__last_view.__currect{
    background: url("images/tab2_w.png") no-repeat;
}
.favorites_bar_head_btn_icon{
    width: 30px;
    height: 25px;
    display: inline-block;
    margin-left: 6px
}
.__currect .favorites_bar_head_btn_icon path {
    fill: #525252;
}
.favorites_bar_head_btn_icon path {
    fill: #e7e6df;
}

.favorites_bar_wrap{
    background: #e7e6df;
    width: 100%;
    position: absolute;
    height: 295px;
    bottom: 0;
    border-radius: 15px 0 0 0;
    box-shadow: 1px 1.732px 7.2px 0.8px rgba(19, 19, 19, 0.24), inset 0.5px 0.866px 1px 0px rgba(255, 255, 255, 0.6);
    z-index: 30;
}

.favorites_bar_content_tab{
    width: 100%;
    height: 200px;
    margin-top: 38px;
}
.favorites_bar_content_tab.__fav{

}
.favorites_bar_content_tab.__last_view{
    display: none;
}
.favorites_bar_slider{
    height: 220px;
    width: 1220px;
    margin: 0 auto;
}
.favorites_bar_slider .b-pattern{
    margin: 10px;
}
.favorites_bar_slider .b-pattern p{
    white-space: normal;
}
.favorites_bar_content_tab_controller{
    position: absolute;
    width: 97%;
    top: 140px;
}
.next_arr path {
    fill: #393939;
}
.next_arr:hover path ,
.prev_arr:hover path{
    fill: #aea16b;
}
.next_arr{
    width: 16px;
    height: 28px;
    cursor: pointer;
    right: 45px;
    position: absolute;

}
.prev_arr{
    width: 16px;
    height: 28px;
    cursor: pointer;
    left: 45px;
    position: absolute;
    display: none;
}
/*******************************************/
/*blog loby page eng*/
/*******************************************/
.eng .b_blog_blogs_content{
    float: left;
}
.eng .b_blog_side{
    float: right;
}
.eng .b_blog_box_main .b_blog_box_main_share{
    right: 30px;
    direction: ltr;
    float: right;
}
.eng .b_blog_box .b_blog_box_data, .eng .b_blog_box_main .b_blog_box_data{
    margin-left: 3px;
    border-right: 1px solid #968859;
    padding-right: 21px;
    margin-right: 25px;
    margin-bottom: 17px;
    float: left;

}
.eng .b_blog_box a,.eng .b_blog_box_main a{
    float: left;
}
.eng .b_blog_box {
    float: left;
}
.eng .b_blog_box img {
    float: left;
}
.eng .b_blog_box a .share_icon, .eng .b_blog_box_main a .share_icon{
    margin-left: 0;
    float: left;
    margin-right: 10px;
}
.eng .b_blog_side .b_blog_side_most_read ul li {
    text-align: left;
}
.eng .b_blog_side .b_blog_side_most_read ul li a i:before{
    content: "\f0da";
    margin-right: 0;
    margin-left: 5px;
}
.eng .more_blogs_box_side {
    float: left;
    width: 99%;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 26px;
}
.eng .more_blogs_box_side img{
    float: left;
}
.eng .more_blogs_box_side .more_blogs_box_side_content {
    float: left;
    margin-right: 0;
    margin-left: 15px;
}
.eng .more_blogs_box_side_share {
    float: left;
    direction: ltr;
}
.eng .more_blogs_box_side_share .b_blog_box_data {
    padding-right: 10px;
    border-right: 1px solid #bbb283;
    margin-right: 10px;
    float: left;
}
.eng .more_blogs_box_side_share a .share_icon {
    float: left;
    margin-left: 0;
    margin-right: 5px;
}
.eng select.black_select {
    background: #302f2f url("assets/img/select-arrow.png") no-repeat 97% center;
}
.eng .series_banner_content a.pdf_icon {
    float: left;
}
.eng .favorites_bar_head_btn.__fav{
    left: 0;
}
.eng .favorites_bar_head_btn.__last_view{
    left: 110px;
    padding-left: 70px;
    width: 360px;
}
.eng .favorites_bar_head_btn.__fav.__currect {
    background: url("images/tab1e.png") no-repeat;
}
.eng .favorites_bar_head_btn.__last_view {
    background: url("images/tab2e.png") no-repeat;
}
.eng .favorites_bar_head_btn.__fav .favorites_bar_head_btn_icon {
    margin-left: 13px;
}
.eng .b-were_to_filters .select_box label{
    margin-left: 15px;

}
.eng .box_map_bu{
    left: 188px;
}
.eng .b-were_to_box_content:after {
    left: 87%;

}